.media {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  background: #3f3f3f;
  color: #fff;
  position: relative;
  box-shadow: 0 0 0.5rem gray;
}

.media .paid-banner {
  width: 8rem;
  position: absolute;
  top: 0;
  right: 0;
}

.media-img {
  width: 10rem;
}

.media img {
  width: 100%;
}

.media_text-content p {
  margin-bottom: 1rem;
}

.media-skills-bar {
  display: block;
  margin-top: 2rem;
  font-size: 3rem;
}

.media-skills-bar img {
  width: 5rem;
  height: 2.5rem;
}

.media-skills-bar i {
  margin-right: 2rem;
}

.media-actions button {
  margin-right: 1rem;
  margin-bottom: 0;
}
