.media {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  background-color: lightgrey;
}

.media_text-content p {
  margin-bottom: 1rem;
}

.media-skills-bar {
  display: block;
  margin-top: 2rem;
  font-size: 3rem;
}

.media-skills-bar i {
  margin-right: 2rem;
}

.media-actions button {
  margin-right: 1rem;
  margin-bottom: 0;
}
