/* HEADER / NAVIGATION */

header {
  justify-content: space-between;
  background: rgb(219, 219, 219);
  background: linear-gradient(
    90deg,
    rgb(161, 161, 161) 0%,
    rgba(128, 128, 128, 1) 100%,
    rgba(158, 169, 171, 1) 100%
  );
  color: #fff;
}

header .container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
}

.inline-nav {
  display: none;
}

.inline-nav ul li {
  list-style: none;
  margin: 0 2rem;
}

.nav-bar .menu-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.nav-bar .menu-content nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-bar .menu-content nav ul li {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.nav-bar .menu-content-collapsed {
  opacity: 1;
  max-height: 100%;
  margin-top: 1rem;
}

.menu-trigger {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
}

.menu-active {
  color: #ff6565;
}

nav button {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .inline-nav {
    display: inline-block;
  }

  .inline-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .menu-trigger {
    display: none;
    cursor: pointer;
  }
}
