.about-me .grid div p {
  margin: 2rem 0;
}

.about-me_image {
  overflow: hidden;
}

.about-me_image img {
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid white;
}

.skills-bar {
  width: 70%;
  margin: auto;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-list li {
  margin: 0 1.5rem;
}

@media screen and (min-width: 992px) {
  .skills-bar {
    margin: 1rem;
  }
}
