* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color palete */

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/src/images/hero-background-mobile.png);
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
}

@media screen and (min-width: 500px) {
  body {
    background-image: url(/src/images/hero-background.png);
    background-size: contain;
    background-attachment: fixed;
  }
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
}

.logo h2 {
  margin: 0;
}

.text-align-left {
  text-align: center;
}

.hiding {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .text-align-left {
    text-align: left;
  }
}

/* headings */

.heading {
  text-align: center;
}

/* links */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff6565;
}

/* Containers & Grids */
section {
  /* border: 1px solid gray; */
  color: white;
}

section > .content {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 5vw 0;
  /* border: 1px solid gray; */
}

.grid {
  display: grid;
}

.col2row1 {
  grid-template-columns: 1fr;
  grid-template-rows: fit-content 1fr;
  grid-gap: 2vw;
  text-align: center;
}

.intro {
  margin-bottom: 3vw;
}

@media screen and (min-width: 992px) {
  section > .content {
    width: 70%;
  }

  .col2row1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    text-align: left;
  }
}

/* buttons */
button {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 2rem 0;
  box-shadow: 0 0 0.5rem grey;
  font-size: 1.4rem;
  background: whitesmoke;
}

button:hover {
  background-color: #f34f29;
  color: white;
}
