.hero {
  padding: 8vw 0;
  background: rgb(219, 219, 219);
  background: linear-gradient(
    90deg,
    rgb(161, 161, 161) 0%,
    rgba(128, 128, 128, 1) 100%,
    rgba(158, 169, 171, 1) 100%
  );
  color: #fff;
}

.hero h1 {
  font-size: 5vw;
}

.hero_content {
  padding-left: 5vw;
  padding-right: 5vw;
}

.hero_content > p {
  margin: 2vw auto;
  width: 80%;
}

.hero_socials {
  display: flex;
  justify-content: center;
  color: white;
  font-size: clamp(4rem, 3vw, 6rem);
}

.hero_socials i {
  margin: 2.85rem 1rem;
}

.hero .explore-btn {
  background: #ff6565;
  color: white;
  margin: 0 0.5rem;
}

@media screen and (min-width) {
  .hero {
    min-height: 100vh;
  }
}
