/* Hero Section */

.hero {
  padding: 8vw 0;
  /* background: rgb(219, 219, 219);
  background: linear-gradient(
    90deg,
    rgb(161, 161, 161) 0%,
    rgba(128, 128, 128, 1) 100%,
    rgba(158, 169, 171, 1) 100%
  ); */
  color: #fff;
}

.hero h1 {
  font-size: 5vw;
}

.hero_content {
  height: fit-content;
}

.hero_content > p {
  margin: 2vw auto;
  width: 80%;
}

.hero_socials {
  display: flex;
  justify-content: center;
  color: white;
  font-size: clamp(4rem, 3vw, 6rem);
}

.hero_socials i {
  margin: 2.85rem 1rem;
}

.hero .explore-btn {
  background: #ff6565;
  color: white;
  margin: 0 0.5rem;
}

@media screen and (min-width: 992px) {
  .hero {
    min-height: 100vh;
  }

  .hero_content {
    height: 65vh;
  }
}

/* About me Section*/

.about-me {
  background: #2e2e2e;
  color: #fff;
}

.about-me .content {
  margin: auto;
}

.about-me .content .grid {
  margin-right: 0;
  grid-template-rows: min-content;
}

@media screen and (min-width: 992px) {
  .about-me .content .grid {
    margin-right: 0;
    grid-template-columns: 1.5fr 2fr;
  }
}

.about-me .grid div p {
  margin: 2rem 0;
}

.about-me_image {
  overflow: hidden;
}

.about-me_image img {
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid white;
}

.skills-bar {
  width: 70%;
  margin: auto;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-list li {
  margin: 0 1.5rem;
}

@media screen and (min-width: 992px) {
  .skills-bar {
    margin: 1rem;
  }
}

/* Projects section */

.projects {
  /* background: rgb(219, 219, 219);
  background: linear-gradient(
    90deg,
    rgb(161, 161, 161) 0%,
    rgba(128, 128, 128, 1) 100%,
    rgba(158, 169, 171, 1) 100%
  ); */
  background-color: #2e2e2e;
}

@media screen and (min-width: 400px) {
  .projects {
    background: transparent;
  }
}

.media_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .media_image {
    min-width: 100%;
    text-align: center;
  }
}

.technologies {
  margin: auto;
}

.technologies p {
  display: inline;
  margin: 1rem;
}

.tooltip .webpack {
  width: 2.5rem;
  color: #4a4a4a;
}

.tooltip .babel {
  width: 5rem;
  color: #4a4a4a;
  margin: 0 1rem;
}

.tooltip .html {
  color: #e44d26;
}

.tooltip .css {
  color: #264de4;
}

.tooltip .js {
  color: #f0db4f;
}

.tooltip .wordpress {
  color: #21759b;
}

.tooltip .sass {
  color: #c69;
}

.tooltip .git {
  color: #f34f29;
}

.tooltip .mailchimp {
  color: #6dc5dc;
}

.contact-section {
  background: #2e2e2e;
  color: #fff;
}

.google-maps p,
.socials {
  text-align: center;
  margin: 2rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  color: white;
  font-size: clamp(4rem, 3vw, 6rem);
}

.socials i {
  margin: 0rem 1rem;
}

/* Contact me section */

.contact-section .grid {
  margin: 2rem 0;
}

.contact-me {
  padding: 2rem;
}

.contact-grid {
  background: #464545;
  border-radius: 10px;
  padding: 0 2rem;
  padding-top: 2vw;
}

fieldset {
  text-align: left;
  border: none;
  margin-bottom: 1.5rem;
}

fieldset input[type="text"],
#name,
input[type="email"] {
  height: 3rem;
}

fieldset input[type="text"],
input[type="email"],
#name,
textarea {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0;
  border: 0;
  padding: 0 1rem;
}

fieldset textarea {
  padding: 1rem;
}

.reviews {
  border-radius: 10px;
  padding: 2rem;
}

.review-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: fit-content fit-content;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 0.25rem white;
}

.review-item:last-child {
  margin: 0;
}

.review-client-logo {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  justify-content: start;
}

.review-client-logo div {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
}

.review-text h3 {
  margin: 0;
}

.review-text p {
  margin: 1rem 0;
}

.review-stars i {
  color: #ff6565;
}

.contact-me {
  text-align: center;
}

/* Footer */

footer {
  background: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
